/.idea
.idea/
tmp
pkg

#
# If all files excluded and you will include only specific sub-directories
# the parent path must matched before.
#

/**
!/.gitignore

###############################
# Un-ignore the affected subdirectory
!/src/
# Ignore subdirectory and all including directories and files to match pattern as valid for the next pattern
/src/**
# This pattern only works with the two previous patterns
# (i remember it was working alone on older git versions)
!src/golang-server.
###############################


web/node_modules/
web/node_modules